.modal-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.type-icon {
  margin-bottom: 0px;
  display: inline; 
}

.attacks-section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none
}

.attacks-section li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.energy-cost {
  display: flex;
  flex-direction: row;
  gap: 3px ;

}

.energy-cost img {
  height: 20px;
  width: 20px;
  padding: 0px; 
  margin: 0px; 
}

.card-name {
  background-color: #6390f0;
  color: white;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
}

.card-image {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: transparent;
  border-radius: 5px;
}

.modal-content img.type-icon {
  height: 20px;
  width: 20px;
  margin: 3px;
  padding: 0px;
}

.abilities-section p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  max-height: 4.5em;
}

h3 {
  font-size: 20px;
}

.abilities-section ul {
  font-size: 14px;
}

.abilities-section p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  max-height: 4.5em;
}

.card-hp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resist-title,
.attack-title,
.weak-title,
.abs-title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.resist-title {
  background-color: #ffcb05;
}

.attack-title {
  background-color: lightcoral;
}

.weak-title {
  background-color: lightblue;
}

.abs-title {
  background-color: lightseagreen;
}

.weaknesses-section ul {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0px;
}