body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    
}

.home-container {
    max-width: 100%;
    overflow: hidden;
    background: url('/public/bg-home.png') no-repeat;
    background-size: cover;
    position: relative;
    
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    padding: 50px;
    z-index: -1;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end; /* Esto mueve el contenido de .container2 a la derecha */
    width: 50%;
    margin-top: 150px; /* Baja el contenedor .container2 */
}

.container3 {
    display: flex;
    justify-content: center;
    width: 50%;
    position: relative;
}

.search-bar-container {
    margin-top: 20px; 
    z-index: 1;
    width: 100%;
}

.pokemon-list {
    min-height: 400px;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    padding: 20px 0; 
    margin-top: 20px; 
}

.logo {
    width: 300px;
    height: auto;
    z-index: 10;
    margin-right: 29%;
}

.decorative-pokemon {
    position: absolute;
    bottom: 20%;
    right: 10px;
    max-width: 500px;
    height: auto;
    z-index: 5;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    z-index: -10;
    filter: blur(10px);
}

.circle-1 {
    width: 350px;
    height: 350px;
    background-color: #87CEEB; /* Azul */
    top: -200px;
    left: -120px;
}

.circle-2 {
    width: 600px;
    height: 600px;
    background-color: #FF6F61; /* Rojo */
    top: 150px;
    left: 95px;
}

.circle-3 {
    width: 500px;
    height: 500px;
    background-color: #FFD700; /* Dorado */
    bottom: -200px;
    right: -200px;
}

.circle-4 {
    width: 400px;
    height: 400px;
    background-color: #b2b2b2e5; /* Gris claro */
    bottom: 700px;
    right: 200px;
}