.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
  }
  
  .inputWrapper {
    position: relative;  
  }
  
  .searchInput {
    padding: 10px 30px 10px 10px;
    margin-top: 30px;
    border-radius: 20px;
    width: 630px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #C2C2C2;
    box-shadow: 3px 3px 9px rgba(30, 10, 60, 0.06), 6px 6px 14px rgba(30, 10, 60, 0.08);
  }
  
  .searchInput:focus {
    border-color: rgb(34, 34, 34);
    outline: none;
    box-shadow: 0px 3px 9px rgba(30, 10, 60, 0.06), 0px 5px 13px rgba(30, 10, 60, 0.08);
  }
  
  .searchInput::placeholder {
    color: #D8D8D8;
  }
  
  .searchInput:hover {
    box-shadow: 0px 3px 9px rgba(30, 10, 60, 0.06), 0px 5px 13px rgba(30, 10, 60, 0.08);
  }
  
  .searchIcon {
    position: absolute;
    right: 10px; 
    top: 70%;
    transform: translateY(-50%);  
    width: 31px; 
    height: 34px;
    pointer-events: none; 
  }
  