/* Variables CSS para colores y estilos globales */
:root {
  --primary-color: lightcoral;
  --hover-color: #a0a0a0;
  --text-color: #ffffff;
  --border-color: #c2c2c2;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --selected-color: #ffcb05;
}

/* Contenedor de filtros horizontales */
.horizontal-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

/* Botón Ascending (amarillo y cuadrado) */
.btn.ascending {
  background-color: #ffcb05; /* Amarillo */
  color: var(--text-color);
  border: none;
  width: auto; /* Tamaño cuadrado */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn.ascending:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0px 8px 12px var(--shadow-color);
}

.btn.ascending:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px var(--shadow-color);
}

/* Botón Filter by Type (azul y cuadrado) */
.btn.filter {
  background-color: #6390F0; /* Azul */
  color: var(--text-color);
  border: none;
  width: auto; /* Tamaño cuadrado */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn.filter:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0px 8px 12px var(--shadow-color);
}

.btn.filter:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px var(--shadow-color);
}

/* Lista de tipos */
.type-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin-top: 30px;
  list-style: none;
  justify-content: center;
}

/* Elementos de la lista de tipos */
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--border-color);
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
}

.dropdown-item:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
  transform: scale(1.05);
}

.type-list .dropdown-item.selected {
  background-color: var(--selected-color);
  color: var(--text-color);
}

/* Colores específicos por tipo */
.dropdown-item.selected.bug { background-color: #A8B820; }
.dropdown-item.selected.dark { background-color: #705848; }
.dropdown-item.selected.dragon { background-color: #6F35FC; }
.dropdown-item.selected.electric { background-color: #F7D02C; }
.dropdown-item.selected.fairy { background-color: #EE99AC; }
.dropdown-item.selected.fighting { background-color: #C22E28; }
.dropdown-item.selected.fire { background-color: #F08030; }
.dropdown-item.selected.flying { background-color: #A98FF3; }
.dropdown-item.selected.ghost { background-color: #735797; }
.dropdown-item.selected.grass { background-color: #7AC74C; }
.dropdown-item.selected.ground { background-color: #E2BF65; }
.dropdown-item.selected.ice { background-color: #96D9D6; }
.dropdown-item.selected.normal { background-color: #A8A878; }
.dropdown-item.selected.poison { background-color: #A33EA1; }
.dropdown-item.selected.psychic { background-color: #F85888; }
.dropdown-item.selected.rock { background-color: #B69E31; }
.dropdown-item.selected.steel { background-color: #B7B7CE; }
.dropdown-item.selected.water { background-color: #6390F0; }

/* Hover de los filtros */

.dropdown-item:hover.bug { background-color: #A8B820; } /* Bug */
.dropdown-item:hover.dark { background-color: #705848; } /* Dark */
.dropdown-item:hover.dragon { background-color: #6F35FC; } /* Dragon */
.dropdown-item:hover.electric { background-color: #F7D02C; } /* Electric */
.dropdown-item:hover.fairy { background-color: #EE99AC; } /* Fairy */
.dropdown-item:hover.fighting { background-color: #C22E28; } /* Fighting */
.dropdown-item:hover.fire { background-color: #F08030; } /* Fire */
.dropdown-item:hover.flying { background-color: #A98FF3; } /* Flying */
.dropdown-item:hover.ghost { background-color: #735797; } /* Ghost */
.dropdown-item:hover.grass { background-color: #7AC74C; } /* Grass */
.dropdown-item:hover.ground { background-color: #E2BF65; } /* Ground */
.dropdown-item:hover.ice { background-color: #96D9D6; } /* Ice */
.dropdown-item:hover.normal { background-color: #A8A878; } /* Normal */
.dropdown-item:hover.poison { background-color: #A33EA1; } /* Poison */
.dropdown-item:hover.psychic { background-color: #F85888; } /* Psychic */
.dropdown-item:hover.rock { background-color: #B69E31; } /* Rock */
.dropdown-item:hover.steel { background-color: #B7B7CE; } /* Steel */
.dropdown-item:hover.water { background-color: #6390F0; } /* Water */

.generation-select {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  width: auto;
  height: auto;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px var(--shadow-color);
  transition: transform 0.2s, box-shadow 0.2s;
  appearance: none;
}

.generation-select:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
  box-shadow: 0px 8px 12px var(--shadow-color);
}

.generation-select:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px var(--shadow-color);
}

.generation-select:focus {
  outline: none;
}

/* Loading GIF */
.loading-container {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container img {
  width: 300px;
  height: auto;
}

/* Icono de orden */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  font-size: 18px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-content button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: darkred;
}
